@model IEnumerable<BookStore.Models.Person>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>All persons of department</h3>
    <table>
        <tr class="header">
            <td><p>person ID</p></td>
            <td><p>Name</p></td>
            <td><p>Last name</p></td>
            <td><p>Father's name</p></td>
            <td><p>Day of Birth</p></td>
            <td><p>Department code</p></td>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td><p>@b.PersonId</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.LastName</p></td>
                <td><p>@b.FatherName</p></td>
                <td><p>@b.BirthDate</p></td>
                <td><p>@b.DepartmentId</p></td>
            </tr>
        }
    </table>
    <a href="/Home">Return to star page</a>
</div>
